<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953807397922-u6ejbrf3io721js65icqlceh6976825v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953807397922-u6ejbrf3io721js65icqlceh6976825v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953807397922-lejepa0vvc8ck8dfo5k3sp6gl3e6rva6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHrUtrbZyzUARjRrHLBwA3YkwfK0Ti1Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>953807397922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nonsolo</string>
	<key>PROJECT_ID</key>
	<string>non-solo-191b2</string>
	<key>STORAGE_BUCKET</key>
	<string>non-solo-191b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953807397922:ios:06d2e0ae3e1f118628967b</string>
</dict>
</plist>